[submodule "Corso A/Fabio Tognarelli/Laboratorio II/MaterialeCorso/Informatica-Laboratorio2A"]
	path = Corso A/Fabio Tognarelli/Laboratorio II/MaterialeCorso/Informatica-Laboratorio2A
	url = https://github.com/Unipisa/Informatica-Laboratorio2A
